[Debugging]

#Xdebug: /path/to/xdebug.so
#  Location of Zend debugging extension. You should probably leave this 
#  unset. If left unset phpsh will use xdebug.so installed in the extensions
#  directory reported by php-config. Set to "no" (without quotes) to disable 
#  loading xdebug into php VM. This will disable all debugging support in phpsh
#  and is equivalent to passing -X to phpsh on the command line.

#DebugClient: emacs
#  Command to run to start an xdebug client. Default is "emacs", which starts
#  emacs under X and loads geben xdebug client module. 

#ClientTimeout: 60
#  Number of seconds to wait for debug client to start up and begin listening 
#  for xdebug connections. Default is 60. If set to "none", 0 or a negative 
#  number phpsh will wait until killed.

#ClientHost: localhost
#  Name of host on which debug client is running. You should not set this
#  unless you are running your own debug client. Default is localhost.

#ClientPort: 9001
#  Leave this unset unless you run your own debug client, such as emacs/geben 
#  in another terminal without X. If you do run your own client, set this to 
#  the port on which the debug client listens for xdebug connections

#ProxyPort: 9000
#  The port on which the proxy should listen for xdebug connections. If left 
#  unset the proxy will use the lowest available even-numbered port between 
#  9002 and 9998. If DebugClient is also unset or set to "emacs", the proxy 
#  will configure emacs to listen on the next port up.

#Help: no
#  This option works only if DebugClient is unset or set to "emacs". If
#  set to "yes", when emacs starts it will show a help screen for its PHP 
#  debugging mode. If set to "brief", phpsh will display a short hint on how
#  to get help on debugging in emacs. If set to "no", no help will be 
#  displayed. Default is "no".

#LogDBGp: no
#  If "yes", debug proxy will log DBGp (xdebug protocol) messages to 
#  file dbgp.log in the directory where phpsh was started. Defaul is "no".

[Emacs]

#  The following options control the appearance of Emacs debug client.
#  They take effect only if DebugClient option above is set to "emacs" or left
#  unset.

#ForegroundColor: black
#  Foreground color of default typeface. Default is black.
 
#BackgroundColor: white
#  Background color of default typeface when a debugging session is in 
#  progress. Default is white.

#InactiveColor: grey75
#  Background color of default typeface when Emacs window is inactive (no
#  debugging in progress). Default is grey75.

#InactiveMinimize: yes
#  If set to "yes", minimize (iconify) Emacs window upon completion of 
#  debugging session. Restore (deiconify) window when next session begins.
#  Default is "yes". On some X servers Emacs fails to deiconify correctly.
#  If that's the case for you, set this to "no".

#FontFamily: adobe-courier
#  Font family to use for default Emacs face. If not set, Emacs defaults are
#  used.

#FontSize: 160
#  Font size in points for default Emacs face. If unset, Emacs defaults are used.
